.Rproj.user
.Rhistory
.RData
.Ruserdata

.Rproj.user/244DC395/rmd-outputs

*.pper

.Rproj.user/244DC395/rmd-outputs

.Rproj.user/shared/notebooks/paths

m2_data_portfolios_cache/html/__packages

*.RData

m2_data_portfolios_files/figure-html/unnamed-chunk-3-1.png

*.rdx

*.rdb

.Rproj.user/244DC395/rmd-outputs

*.pper

*.pper

*.pper

*.pper
